*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0);
}

.header{
    z-index: 1000;
}

/* .container{
    margin-top: 60px;
    z-index: 500;
} */

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}